<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body><center>
    <h1>Kamaraj College of Engineering and Technology</h1>
    <h2>Web Applications using Django Framework</h2>
    <h3>sereen fathima gani(22uit103)</h3>
    <h4>Creating Session and Cookies using Django</h4>
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="mobile">Mobile:</label>
        <input type="tel" id="mobile" name="mobile" pattern="[0-9]{10}" required><br><br>

        <button type="submit">Login</button>
    </form>
</center>
</body>

</html>
